@font-face {
    font-family: 'Stolzl Medium'; 
    src: url('../fonts/3422-font.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.head {
    margin-top: 65px;
    margin-left: 85px;
    font-family: 'Stolzl Medium';
}

.wrap {
    display: flex;
    align-items: center;
}

.card {
    margin-left: 30px;
    width: 225px;
    border-radius: 25px;
    padding: 15px;
    border-width: 0.1px;
    border-style: solid;
    border-color: rgb(62, 62, 62) !important;
}

.card_img {
    margin-left: 25px;
    width: 150px;
    height: auto;
}

.card_title {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
}

.card_price{
    font-size: 19px;
}

.btn_keeper{
    margin-top: 20px;
    text-align: center;
    border-radius: 5px;
}

.btn{
    background-color: #FFBB07;
    padding: 7px 12px;
    color: #eee;
    border-radius: 4px;
}