@font-face {
    font-family: 'Stolzl Medium'; 
    src: url('../fonts/3422-font.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.head {
    font-family: 'Stolzl Medium';
    margin-left: 50px;
    margin-top: 50px;
}

.extra_head {
    font-family: 'Stolzl Medium';
    margin-left: 85px;
}

.wrap {
    display: flex;
    align-items: center;
}


.card{
    font-family: 'Stolzl Medium';
    margin-left: 30px;
    width: 225px;
    border-radius: 15px !important;
    padding: 15px;
    border-width: 0.1px;
    border-style: solid;
    border-color: rgb(62, 62, 62) !important;
}

.card_img {
    margin-left: 25px;
    width: 150px;
    height: 150px;
}

.card_title {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
}

.card_price{
    font-size: 19px;
}

.btn_keeper{
    margin-top: 20px;
    text-align: center;
    border-radius: 5px;
}

.btns{
    background-color: white;
    padding: 7px 12px;
    border-radius: 4px;
    border: 0.1px solid black !important;
}

.btns:hover {
    border: 0.1px solid red !important;
    font-size: 16.2px;
    animation-duration: 0.9s;
}

.main_section{
    font-family: 'Stolzl Medium';
    margin-top: 50px;
    text-align: center;
    list-style-type: none;
}

.main_section li {
    list-style-type: none;
    margin-top: 5px;
    font-size: 20px;
    font-weight: 400;
}