{% extends "base.html" %} 
{% load static %}

{% block links %}
  <link rel="stylesheet" href="{% static 'css/catalog.css' %}">
  <script src="{% static 'js/cart.js' %}"></script>
  <script>
    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
            }
        }
    }
    return cookieValue;
}
    const csrftoken = getCookie('csrftoken');
  </script>
{% endblock links %}

{% block title %}
  <title>{{ title }}</title>
{% endblock %}

{% block content %}
<h1 class = 'head'>Каталог</h1>

{% if query %}
  <h1 class = 'query'>Результаты по запросу '{{query}}': {{count}}</h2>
{% endif %}
<div class="catalog">
    {% for product in goods %}
    <div class="cards">
      {% if product.image %}
        <a href="{% url 'catalog:product' product.slug %}"> <img src="{{product.image.url}}" alt="{{ product.name }}" class="cards_img"> </a>
        {% else %}
        <img src="{% static 'img/image_not_found.jpeg' %}" alt="{{ product.name }}" class="cards_img">
      {% endif %}
      <div class="cards_title"><a href="{% url 'catalog:product' product.slug %}">{{ product.name }}</a></div>
      <div class="cards_price">{{ product.price }} ₽</div>
      <div class="btns_keeper">
        {% if user.is_authenticated %}
          <button class="btn btn-light cart-update" data-product="{{product.id}}" data-action = "add">В корзину</button>
        {% else %}
        <a href="{% url 'profile:register' %}" class="btn btn-light">В корзину</a>
        {% endif %}
      </div>
    </div>
    {% endfor %}
</div>
{% endblock %}