{% extends "base.html" %} 
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/product_page.css' %}">
{% endblock %}

{% block content %}

<div class = 'wrap'>
    <img src="{{product.image.url}}" alt="" class = 'image'>
    <div class="params">
      <p class = 'name'>{{product.name}}</p>
      <p class = 'desc'>{{product.description}}</p>
      <p class = 'color'>{{product.color}}</p>
      <p class = 'price'>{{product.price}} ₽</p>
      {% if user.is_authenticated %}
          <button class="btn btn-light cart-update" data-product="{{product.id}}" data-action = "add">В корзину</button>
        {% else %}
        <a href="{% url 'profile:register' %}" class="btn btn-light">В корзину</a>
        {% endif %}
    </div>
</div>

{% endblock %}